데이터 병합

In [75]:
import pandas as pd

for i in range(300):
    if i == 0:
        info = pd.read_csv(f'data/place_info_{i+1}.csv')
        review = pd.read_csv(f'data/place_review_{i+1}.csv')
    else:
        try:
            info_new = pd.read_csv(f'data/place_info_{i+1}.csv')
            info = pd.concat([info, info_new], ignore_index=True) # 이전데이터에 인덱스를 가져온다 해결방안 ignore_index=True
        except pd.errors.EmptyDataError:
            None
        try:
            review_new = pd.read_csv(f'data/place_review_{i+1}.csv')
            review = pd.concat([review, review_new], ignore_index=True)
        except pd.errors.EmptyDataError:
            None

In [76]:
info_review=pd.merge(info, review, on='place_id', how='left')
info_review

,place_id,place_name,comm_score,cover_image_url,location,tag_list,coordinate_type,latitude,longitude,address,description,head_image,user_name,content,user_rating,create_time
0,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/1i55a12000dex2...,Miss Berna,very therapeutic views from here. such a spect...,5.0,2024-11-02 06:14:02
1,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0a228424x8x1qs...,Sasha_aa,"the road itself from the metro to the park, an...",5.0,2024-10-21 17:15:28
2,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0a21j224x8ukou...,Andrewng,"one of Seoul&rsquo;s best, the view is superb ...",5.0,2024-10-21 00:26:14
3,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/zc0p170000011d...,_We***52,"To be honest, the price of the whole TV tower ...",5.0,2024-08-22 20:20:41
4,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0Z84g12000b70e...,摇摇,"Cable car up the mountain, buy tickets to clim...",5.0,2024-08-24 07:48:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17338,146533258,Ounjung,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Seoul,NaN,GCJ02,37.586459,126.974898,"1 Sejongno, Jongno District, Seoul",No Description,NaN,NaN,NaN,NaN,NaN
17339,146726595,Seogbulsa,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Seoul,NaN,GCJ02,37.535962,126.944757,"394 Mapo-dong, Mapo-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN
17340,147010764,F45 Training Hannam,0.0,https://ak-d.tripcdn.com/images/0102u1200086k2...,Seoul,NaN,GCJ02,37.533553,127.008638,"South Korea, Unit 404 KR 서울특별시 용산구 258 Hannam-...",No Description,NaN,NaN,NaN,NaN,NaN
17341,142272313,Yongmunsan Tourist Site,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Yangpyeong-gun,NaN,GCJ02,37.546604,127.582189,"Yangpyeong, South Korea",No Description,NaN,NaN,NaN,NaN,NaN
17342,138285313,Samseyeong,0.0,https://ak-d.tripcdn.com/images/fd/tg/g2/M02/C...,Seoul,['Art Museums'],GCJ02,37.613595,126.978261,"2 Pyeongchang 44-gil, Jongno-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN

In [78]:
info_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17343 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17343 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17343 non-null  float64
 3   cover_image_url  17343 non-null  object
 4   location         17343 non-null  object
 5   tag_list         15496 non-null  object
 6   coordinate_type  17343 non-null  object
 7   latitude         17343 non-null  float64
 8   longitude        17343 non-null  float64
 9   address          17343 non-null  object
 10  description      17343 non-null  object
 11  head_image       15038 non-null  object
 12  user_name        15038 non-null  object
 13  content          14630 non-null  object
 14  user_rating      15200 non-null  float64
 15  create_time      15200 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.1+ MB

In [ ]:
# info_review['review_count']= info_review.groupby('place_id')['user_name'].transform('count')
# info_review

,place_id,place_name,comm_score,cover_image_url,location,tag_list,coordinate_type,latitude,longitude,address,description,head_image,user_name,content,user_rating,create_time,review_count
0,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/1i55a12000dex2...,Miss Berna,very therapeutic views from here. such a spect...,5.0,2024-11-02 06:14:02,100
1,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0a228424x8x1qs...,Sasha_aa,"the road itself from the metro to the park, an...",5.0,2024-10-21 17:15:28,100
2,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0a21j224x8ukou...,Andrewng,"one of Seoul&rsquo;s best, the view is superb ...",5.0,2024-10-21 00:26:14,100
3,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/zc0p170000011d...,_We***52,"To be honest, the price of the whole TV tower ...",5.0,2024-08-22 20:20:41,100
4,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0Z84g12000b70e...,摇摇,"Cable car up the mountain, buy tickets to clim...",5.0,2024-08-24 07:48:39,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17338,146533258,Ounjung,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Seoul,NaN,GCJ02,37.586459,126.974898,"1 Sejongno, Jongno District, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0
17339,146726595,Seogbulsa,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Seoul,NaN,GCJ02,37.535962,126.944757,"394 Mapo-dong, Mapo-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0
17340,147010764,F45 Training Hannam,0.0,https://ak-d.tripcdn.com/images/0102u1200086k2...,Seoul,NaN,GCJ02,37.533553,127.008638,"South Korea, Unit 404 KR 서울특별시 용산구 258 Hannam-...",No Description,NaN,NaN,NaN,NaN,NaN,0
17341,142272313,Yongmunsan Tourist Site,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Yangpyeong-gun,NaN,GCJ02,37.546604,127.582189,"Yangpyeong, South Korea",No Description,NaN,NaN,NaN,NaN,NaN,0
17342,138285313,Samseyeong,0.0,https://ak-d.tripcdn.com/images/fd/tg/g2/M02/C...,Seoul,['Art Museums'],GCJ02,37.613595,126.978261,"2 Pyeongchang 44-gil, Jongno-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0

In [79]:
info_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17343 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17343 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17343 non-null  float64
 3   cover_image_url  17343 non-null  object
 4   location         17343 non-null  object
 5   tag_list         15496 non-null  object
 6   coordinate_type  17343 non-null  object
 7   latitude         17343 non-null  float64
 8   longitude        17343 non-null  float64
 9   address          17343 non-null  object
 10  description      17343 non-null  object
 11  head_image       15038 non-null  object
 12  user_name        15038 non-null  object
 13  content          14630 non-null  object
 14  user_rating      15200 non-null  float64
 15  create_time      15200 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.1+ MB

----------------------------------------------------------------------------------------------------------------------------------------------------

전처리 임의 값 추가

In [80]:
info_review_ex=info_review.copy()

In [81]:
# tag_list에서 null 값은 -> 상관없음으로 변경
info_review_ex['tag_list'] = info_review_ex['tag_list'].fillna("It doesn't matter")

In [82]:
info_review_ex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17343 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17343 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17343 non-null  float64
 3   cover_image_url  17343 non-null  object
 4   location         17343 non-null  object
 5   tag_list         17343 non-null  object
 6   coordinate_type  17343 non-null  object
 7   latitude         17343 non-null  float64
 8   longitude        17343 non-null  float64
 9   address          17343 non-null  object
 10  description      17343 non-null  object
 11  head_image       15038 non-null  object
 12  user_name        15038 non-null  object
 13  content          14630 non-null  object
 14  user_rating      15200 non-null  float64
 15  create_time      15200 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.1+ MB

In [83]:
info_review_ex.dropna(subset=['place_name'], inplace=True)

In [84]:
info_review_ex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17342 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17342 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17342 non-null  float64
 3   cover_image_url  17342 non-null  object
 4   location         17342 non-null  object
 5   tag_list         17342 non-null  object
 6   coordinate_type  17342 non-null  object
 7   latitude         17342 non-null  float64
 8   longitude        17342 non-null  float64
 9   address          17342 non-null  object
 10  description      17342 non-null  object
 11  head_image       15038 non-null  object
 12  user_name        15038 non-null  object
 13  content          14630 non-null  object
 14  user_rating      15200 non-null  float64
 15  create_time      15200 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.2+ MB

In [85]:
# 'content' 컬럼의 결측값을 빈 문자열로 채우기
info_review_ex['content'] = info_review_ex['content'].fillna('')

In [86]:
# 'head_image' 컬럼의 결측값을 'unknown_image'로 채우기
info_review_ex['head_image'] = info_review_ex['head_image'].fillna('unknown_image')

In [87]:
# 'user_name' 컬럼의 결측값을 'anonymous'로 채우기
info_review_ex['user_name'] = info_review_ex['user_name'].fillna('anonymous')

In [88]:
info_review_ex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17342 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17342 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17342 non-null  float64
 3   cover_image_url  17342 non-null  object
 4   location         17342 non-null  object
 5   tag_list         17342 non-null  object
 6   coordinate_type  17342 non-null  object
 7   latitude         17342 non-null  float64
 8   longitude        17342 non-null  float64
 9   address          17342 non-null  object
 10  description      17342 non-null  object
 11  head_image       17342 non-null  object
 12  user_name        17342 non-null  object
 13  content          17342 non-null  object
 14  user_rating      15200 non-null  float64
 15  create_time      15200 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.2+ MB

In [89]:
info_review_ex['user_rating']=info_review_ex['user_rating'].fillna(0)

In [90]:
info_review_ex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17342 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17342 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17342 non-null  float64
 3   cover_image_url  17342 non-null  object
 4   location         17342 non-null  object
 5   tag_list         17342 non-null  object
 6   coordinate_type  17342 non-null  object
 7   latitude         17342 non-null  float64
 8   longitude        17342 non-null  float64
 9   address          17342 non-null  object
 10  description      17342 non-null  object
 11  head_image       17342 non-null  object
 12  user_name        17342 non-null  object
 13  content          17342 non-null  object
 14  user_rating      17342 non-null  float64
 15  create_time      15200 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.2+ MB

In [91]:
info_review_ex['create_time']=info_review_ex['create_time'].fillna("0000-00-00 00:00:00")

In [92]:
info_review_ex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17342 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17342 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17342 non-null  float64
 3   cover_image_url  17342 non-null  object
 4   location         17342 non-null  object
 5   tag_list         17342 non-null  object
 6   coordinate_type  17342 non-null  object
 7   latitude         17342 non-null  float64
 8   longitude        17342 non-null  float64
 9   address          17342 non-null  object
 10  description      17342 non-null  object
 11  head_image       17342 non-null  object
 12  user_name        17342 non-null  object
 13  content          17342 non-null  object
 14  user_rating      17342 non-null  float64
 15  create_time      17342 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.2+ MB

In [93]:
info_review_ex.to_csv('info_review_ex.csv', index=False)

----------------------------------------------------------------------------------------------------------------------------------------------------

전처리 null 삭제

In [94]:
info_review_delete=info_review.copy()

In [95]:
info_review_delete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17343 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17343 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17343 non-null  float64
 3   cover_image_url  17343 non-null  object
 4   location         17343 non-null  object
 5   tag_list         15496 non-null  object
 6   coordinate_type  17343 non-null  object
 7   latitude         17343 non-null  float64
 8   longitude        17343 non-null  float64
 9   address          17343 non-null  object
 10  description      17343 non-null  object
 11  head_image       15038 non-null  object
 12  user_name        15038 non-null  object
 13  content          14630 non-null  object
 14  user_rating      15200 non-null  float64
 15  create_time      15200 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.1+ MB

In [96]:
info_review_delete.dropna(subset=['place_name'], inplace=True)

In [97]:
info_review_delete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17342 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17342 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17342 non-null  float64
 3   cover_image_url  17342 non-null  object
 4   location         17342 non-null  object
 5   tag_list         15496 non-null  object
 6   coordinate_type  17342 non-null  object
 7   latitude         17342 non-null  float64
 8   longitude        17342 non-null  float64
 9   address          17342 non-null  object
 10  description      17342 non-null  object
 11  head_image       15038 non-null  object
 12  user_name        15038 non-null  object
 13  content          14630 non-null  object
 14  user_rating      15200 non-null  float64
 15  create_time      15200 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.2+ MB

In [98]:
info_review_delete['tag_list'] = info_review_delete['tag_list'].fillna("It doesn't matter")

In [ ]:
info_review_delete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17342 entries, 0 to 17342
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         17342 non-null  int64
 1   place_name       17342 non-null  object
 2   comm_score       17342 non-null  float64
 3   cover_image_url  17342 non-null  object
 4   location         17342 non-null  object
 5   tag_list         17342 non-null  object
 6   coordinate_type  17342 non-null  object
 7   latitude         17342 non-null  float64
 8   longitude        17342 non-null  float64
 9   address          17342 non-null  object
 10  description      17342 non-null  object
 11  head_image       15038 non-null  object
 12  user_name        15038 non-null  object
 13  content          14630 non-null  object
 14  user_rating      15200 non-null  float64
 15  create_time      15200 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.2+ MB

In [101]:
info_review_delete.dropna(subset=['head_image'], inplace=True)

In [102]:
info_review_delete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15038 entries, 0 to 17330
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         15038 non-null  int64
 1   place_name       15038 non-null  object
 2   comm_score       15038 non-null  float64
 3   cover_image_url  15038 non-null  object
 4   location         15038 non-null  object
 5   tag_list         15038 non-null  object
 6   coordinate_type  15038 non-null  object
 7   latitude         15038 non-null  float64
 8   longitude        15038 non-null  float64
 9   address          15038 non-null  object
 10  description      15038 non-null  object
 11  head_image       15038 non-null  object
 12  user_name        15038 non-null  object
 13  content          14471 non-null  object
 14  user_rating      15038 non-null  float64
 15  create_time      15038 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.0+ MB

In [103]:
info_review_delete.dropna(subset=['user_name'], inplace=True)

In [104]:
info_review_delete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15038 entries, 0 to 17330
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         15038 non-null  int64
 1   place_name       15038 non-null  object
 2   comm_score       15038 non-null  float64
 3   cover_image_url  15038 non-null  object
 4   location         15038 non-null  object
 5   tag_list         15038 non-null  object
 6   coordinate_type  15038 non-null  object
 7   latitude         15038 non-null  float64
 8   longitude        15038 non-null  float64
 9   address          15038 non-null  object
 10  description      15038 non-null  object
 11  head_image       15038 non-null  object
 12  user_name        15038 non-null  object
 13  content          14471 non-null  object
 14  user_rating      15038 non-null  float64
 15  create_time      15038 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 2.0+ MB

In [105]:
info_review_delete.dropna(subset=['content'], inplace=True)

In [106]:
info_review_delete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14471 entries, 0 to 17330
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         14471 non-null  int64
 1   place_name       14471 non-null  object
 2   comm_score       14471 non-null  float64
 3   cover_image_url  14471 non-null  object
 4   location         14471 non-null  object
 5   tag_list         14471 non-null  object
 6   coordinate_type  14471 non-null  object
 7   latitude         14471 non-null  float64
 8   longitude        14471 non-null  float64
 9   address          14471 non-null  object
 10  description      14471 non-null  object
 11  head_image       14471 non-null  object
 12  user_name        14471 non-null  object
 13  content          14471 non-null  object
 14  user_rating      14471 non-null  float64
 15  create_time      14471 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 1.9+ MB

In [107]:
info_review_delete.dropna(subset=['user_rating'], inplace=True)

In [108]:
info_review_delete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14471 entries, 0 to 17330
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         14471 non-null  int64
 1   place_name       14471 non-null  object
 2   comm_score       14471 non-null  float64
 3   cover_image_url  14471 non-null  object
 4   location         14471 non-null  object
 5   tag_list         14471 non-null  object
 6   coordinate_type  14471 non-null  object
 7   latitude         14471 non-null  float64
 8   longitude        14471 non-null  float64
 9   address          14471 non-null  object
 10  description      14471 non-null  object
 11  head_image       14471 non-null  object
 12  user_name        14471 non-null  object
 13  content          14471 non-null  object
 14  user_rating      14471 non-null  float64
 15  create_time      14471 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 1.9+ MB

In [109]:
info_review_delete.dropna(subset=['create_time'], inplace=True)

In [110]:
info_review_delete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14471 entries, 0 to 17330
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         14471 non-null  int64
 1   place_name       14471 non-null  object
 2   comm_score       14471 non-null  float64
 3   cover_image_url  14471 non-null  object
 4   location         14471 non-null  object
 5   tag_list         14471 non-null  object
 6   coordinate_type  14471 non-null  object
 7   latitude         14471 non-null  float64
 8   longitude        14471 non-null  float64
 9   address          14471 non-null  object
 10  description      14471 non-null  object
 11  head_image       14471 non-null  object
 12  user_name        14471 non-null  object
 13  content          14471 non-null  object
 14  user_rating      14471 non-null  float64
 15  create_time      14471 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 1.9+ MB

-----------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# info_review_ex1=info_review.copy()
# info_review_ex2=info_review.copy()

In [ ]:
# info_review_ex_1 =info_review_ex1[info_review_ex1['review_count']>=5].reset_index(drop=True)
# info_review_ex_2 =info_review_ex2[info_review_ex2['review_count']< 5].reset_index(drop=True)

In [ ]:
# info_review_ex_1

,place_id,place_name,comm_score,cover_image_url,location,tag_list,coordinate_type,latitude,longitude,address,description,head_image,user_name,content,user_rating,create_time,review_count
0,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/1i55a12000dex2...,Miss Berna,very therapeutic views from here. such a spect...,5.0,2024-11-02 06:14:02,100
1,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0a228424x8x1qs...,Sasha_aa,"the road itself from the metro to the park, an...",5.0,2024-10-21 17:15:28,100
2,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0a21j224x8ukou...,Andrewng,"one of Seoul&rsquo;s best, the view is superb ...",5.0,2024-10-21 00:26:14,100
3,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/zc0p170000011d...,_We***52,"To be honest, the price of the whole TV tower ...",5.0,2024-08-22 20:20:41,100
4,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0Z84g12000b70e...,摇摇,"Cable car up the mountain, buy tickets to clim...",5.0,2024-08-24 07:48:39,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14504,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i50112000dex2...,139***68,"General primary school, did not feel the need ...",4.0,2017-03-30 15:32:57,12
14505,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i50112000dex2...,铁哥0335,"Beautiful environment, strong Korean style, se...",3.0,2016-10-20 01:37:29,12
14506,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i54412000dex2...,M53***51,I didn&#39;t know it was Overseas Chinese Elem...,3.0,2018-04-12 18:47:59,12
14507,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i54b12000dex2...,M48***10,Is it necessary for overseas Chinese primary s...,3.0,2018-11-15 20:51:55,12
14508,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i55t12000dex1...,킴킴키,It&#39;s a Chinese school. I&#39;m in class. I...,3.0,2021-10-24 12:00:27,12

In [ ]:
# info_review_ex_2

,place_id,place_name,comm_score,cover_image_url,location,tag_list,coordinate_type,latitude,longitude,address,description,head_image,user_name,content,user_rating,create_time,review_count
0,144940067,The Man Alive: Choice,4.0,https://ak-d.tripcdn.com/images/1lo2r12000esgj...,Seoul,"['Theater', 'Stage Drama']",GCJ02,37.545702,127.042425,首尔市城东区首尔林2街 32-14 韩华 GALLERIA FORET 101栋A G层（地...,No Description,https://ak-d.tripcdn.com/images/1mi6o12000b5md...,Anonymous User,"It&#39;s worth going, but don&#39;t buy ticket...",5.0,2024-10-03 21:50:13,2
1,144940067,The Man Alive: Choice,4.0,https://ak-d.tripcdn.com/images/1lo2r12000esgj...,Seoul,"['Theater', 'Stage Drama']",GCJ02,37.545702,127.042425,首尔市城东区首尔林2街 32-14 韩华 GALLERIA FORET 101栋A G层（地...,No Description,https://ak-d.tripcdn.com/images/1mi6o12000b5md...,Anonymous User,More expensive than other websites! More expen...,3.0,2024-08-07 22:52:52,2
2,149276310,2024 NCT DREAM WORLD TOUR <THE DREAM SHOW 3 : ...,0.0,https://ak-d.tripcdn.com/images/0104j12000g35c...,Seoul,['Concerts'],GCJ02,37.498931,126.867087,"Gocheok Sky Dome 430 Gyeongin-ro, Guro Distric...",NCT Dream will hold the final performance of i...,NaN,NaN,NaN,NaN,NaN,0
3,148899396,TOMORROW X TOGETHER WORLD TOUR<ACT : PROMISE> ...,0.0,https://ak-d.tripcdn.com/images/0105w12000ff2i...,Seoul,['Concerts'],GCJ02,37.519200,127.127400,"424, Olympic-ro, Songpa-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0
4,57153194,Ikseondong Hanok Village,4.9,https://ak-d.tripcdn.com/images/10011f000001h3...,Seoul,['Featured Neighborhoods'],GCJ02,37.573713,126.990127,"Ikseon-dong, Jongno-gu, Seoul, South Korea",Ikseon-dong Hanok Village is a historic old to...,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,146533258,Ounjung,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Seoul,NaN,GCJ02,37.586459,126.974898,"1 Sejongno, Jongno District, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0
2830,146726595,Seogbulsa,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Seoul,NaN,GCJ02,37.535962,126.944757,"394 Mapo-dong, Mapo-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0
2831,147010764,F45 Training Hannam,0.0,https://ak-d.tripcdn.com/images/0102u1200086k2...,Seoul,NaN,GCJ02,37.533553,127.008638,"South Korea, Unit 404 KR 서울특별시 용산구 258 Hannam-...",No Description,NaN,NaN,NaN,NaN,NaN,0
2832,142272313,Yongmunsan Tourist Site,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Yangpyeong-gun,NaN,GCJ02,37.546604,127.582189,"Yangpyeong, South Korea",No Description,NaN,NaN,NaN,NaN,NaN,0
2833,138285313,Samseyeong,0.0,https://ak-d.tripcdn.com/images/fd/tg/g2/M02/C...,Seoul,['Art Museums'],GCJ02,37.613595,126.978261,"2 Pyeongchang 44-gil, Jongno-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0

 컬럼 
 place_id : 장소 id X- > 필요없음
 place_name : 장소 이름 O -> id 대신 사용
 comm_score : 	평균 평점 O -> 평균평점을 통해서 사용자 평점과의 관계를 파악이 가능하다 
 cover_image_url : 이미지 O -> 웹페이지 보여줄 떄 사용
 location : 지역 O -> 지역을 통해서 지역 맛집과 같은 것을 추천이 가능하다 
 tag_list : ex) 이 블로그 글의 tag_list는 ['여행', '맛집', '사진'] O -> 사용자가 tag를 입력할 수 있도 있기 때문에 사용
 coordinate_type : 좌표의 유형 X -> 필요없음 
 latitude : 위도 O-> 위치 파악 주변 맛집을 추천을 해줄 때 사용가능성
 longitude : 경도 O -> 위치 파악 주변 맛집을 추천을 해줄 때 사용가능성
 address : 주소 O -> 위치 파악 주변 맛집을 추천을 해줄 때 사용가능성
 description :	자세한 설명 O -> 일단 존재하면 가져오기 
 head_image :	사용자 이미지 X -> 필요없음
 user_name : 사용자 닉네임 O -> 닉네임을 통해서 특정 언어를 사용하기 때문에 나라별로 키워드를 얻을 수 있다 
 content : 댓글 O -> 댓글을 통해서 협업필터링 
 user_rating : 유저 점수 O -> 각각 유저가 어떤 성향을 가지는지 파악이 가능 
 (특히 나라별로 하게 되면 유저가 아시아사람인지 유럽사람인지에 따라 평점이 달라지는것을 통해서 회원가입에 국적선택을 통해 좀 더 좋은 추천이 가능할것같다  )
 create_time : 댓글 작성 시간 O -> 댓글 기간을 통해서 특정 기간에 인기가 많아진다라는것을 파악 가능 
 review_count : place_id에 대한 cotent 개수 O -> 개수를 통해서
 ------------------------------------------------------------------------------------------------------------------------------------------------

전처리 부분

In [ ]:
# info_review_ex_2_copy=info_review_ex_2.copy()
# info_review_ex_2_copy

,place_id,place_name,comm_score,cover_image_url,location,tag_list,coordinate_type,latitude,longitude,address,description,head_image,user_name,content,user_rating,create_time,review_count
0,144940067,The Man Alive: Choice,4.0,https://ak-d.tripcdn.com/images/1lo2r12000esgj...,Seoul,"['Theater', 'Stage Drama']",GCJ02,37.545702,127.042425,首尔市城东区首尔林2街 32-14 韩华 GALLERIA FORET 101栋A G层（地...,No Description,https://ak-d.tripcdn.com/images/1mi6o12000b5md...,Anonymous User,"It&#39;s worth going, but don&#39;t buy ticket...",5.0,2024-10-03 21:50:13,2
1,144940067,The Man Alive: Choice,4.0,https://ak-d.tripcdn.com/images/1lo2r12000esgj...,Seoul,"['Theater', 'Stage Drama']",GCJ02,37.545702,127.042425,首尔市城东区首尔林2街 32-14 韩华 GALLERIA FORET 101栋A G层（地...,No Description,https://ak-d.tripcdn.com/images/1mi6o12000b5md...,Anonymous User,More expensive than other websites! More expen...,3.0,2024-08-07 22:52:52,2
2,149276310,2024 NCT DREAM WORLD TOUR <THE DREAM SHOW 3 : ...,0.0,https://ak-d.tripcdn.com/images/0104j12000g35c...,Seoul,['Concerts'],GCJ02,37.498931,126.867087,"Gocheok Sky Dome 430 Gyeongin-ro, Guro Distric...",NCT Dream will hold the final performance of i...,NaN,NaN,NaN,NaN,NaN,0
3,148899396,TOMORROW X TOGETHER WORLD TOUR<ACT : PROMISE> ...,0.0,https://ak-d.tripcdn.com/images/0105w12000ff2i...,Seoul,['Concerts'],GCJ02,37.519200,127.127400,"424, Olympic-ro, Songpa-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0
4,57153194,Ikseondong Hanok Village,4.9,https://ak-d.tripcdn.com/images/10011f000001h3...,Seoul,['Featured Neighborhoods'],GCJ02,37.573713,126.990127,"Ikseon-dong, Jongno-gu, Seoul, South Korea",Ikseon-dong Hanok Village is a historic old to...,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,146533258,Ounjung,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Seoul,NaN,GCJ02,37.586459,126.974898,"1 Sejongno, Jongno District, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0
2830,146726595,Seogbulsa,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Seoul,NaN,GCJ02,37.535962,126.944757,"394 Mapo-dong, Mapo-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0
2831,147010764,F45 Training Hannam,0.0,https://ak-d.tripcdn.com/images/0102u1200086k2...,Seoul,NaN,GCJ02,37.533553,127.008638,"South Korea, Unit 404 KR 서울특별시 용산구 258 Hannam-...",No Description,NaN,NaN,NaN,NaN,NaN,0
2832,142272313,Yongmunsan Tourist Site,0.0,https://ak-d.tripcdn.com/images/fd/tg/g1/M06/F...,Yangpyeong-gun,NaN,GCJ02,37.546604,127.582189,"Yangpyeong, South Korea",No Description,NaN,NaN,NaN,NaN,NaN,0
2833,138285313,Samseyeong,0.0,https://ak-d.tripcdn.com/images/fd/tg/g2/M02/C...,Seoul,['Art Museums'],GCJ02,37.613595,126.978261,"2 Pyeongchang 44-gil, Jongno-gu, Seoul",No Description,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
# info_review_ex_1_copy=info_review_ex_1.copy()
# info_review_ex_1_copy

,place_id,place_name,comm_score,cover_image_url,location,tag_list,coordinate_type,latitude,longitude,address,description,head_image,user_name,content,user_rating,create_time,review_count
0,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/1i55a12000dex2...,Miss Berna,very therapeutic views from here. such a spect...,5.0,2024-11-02 06:14:02,100
1,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0a228424x8x1qs...,Sasha_aa,"the road itself from the metro to the park, an...",5.0,2024-10-21 17:15:28,100
2,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0a21j224x8ukou...,Andrewng,"one of Seoul&rsquo;s best, the view is superb ...",5.0,2024-10-21 00:26:14,100
3,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/zc0p170000011d...,_We***52,"To be honest, the price of the whole TV tower ...",5.0,2024-08-22 20:20:41,100
4,78916,Namsan Mountain Park,4.7,https://ak-d.tripcdn.com/images/0103f120009zde...,Seoul,"['City Parks', 'Nighttime sightseeing']",GCJ02,37.550990,126.990899,"231 Samil-daero, Jung-gu, Seoul, South Korea","Namsan Park is a landmark in Seoul, and N Seou...",https://ak-d.tripcdn.com/images/0Z84g12000b70e...,摇摇,"Cable car up the mountain, buy tickets to clim...",5.0,2024-08-24 07:48:39,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14504,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i50112000dex2...,139***68,"General primary school, did not feel the need ...",4.0,2017-03-30 15:32:57,12
14505,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i50112000dex2...,铁哥0335,"Beautiful environment, strong Korean style, se...",3.0,2016-10-20 01:37:29,12
14506,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i54412000dex2...,M53***51,I didn&#39;t know it was Overseas Chinese Elem...,3.0,2018-04-12 18:47:59,12
14507,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i54b12000dex2...,M48***10,Is it necessary for overseas Chinese primary s...,3.0,2018-11-15 20:51:55,12
14508,24650134,Korean Hanseonghwa School,4.0,https://ak-d.tripcdn.com/images/100i1f000001gp...,Seoul,['Schools'],GCJ02,37.561813,126.983452,"83-8 Myeongdong 2 (i) -ga, Jung-gu, Seoul, Sou...","Seoul Overseas Chinese Primary School, located...",https://ak-d.tripcdn.com/images/1i55t12000dex1...,킴킴키,It&#39;s a Chinese school. I&#39;m in class. I...,3.0,2021-10-24 12:00:27,12

In [ ]:
# info_review_ex_1_copy.info() 
# # place_id, place_name, comm_score, cover_image_url, location, coordinate_type, latitude ,longitude , address, description   null X
# # tag_list , head_image, user_name,  content null O

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14509 entries, 0 to 14508
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         14509 non-null  int64
 1   place_name       14509 non-null  object
 2   comm_score       14509 non-null  float64
 3   cover_image_url  14509 non-null  object
 4   location         14509 non-null  object
 5   tag_list         13980 non-null  object
 6   coordinate_type  14509 non-null  object
 7   latitude         14509 non-null  float64
 8   longitude        14509 non-null  float64
 9   address          14509 non-null  object
 10  description      14509 non-null  object
 11  head_image       14354 non-null  object
 12  user_name        14354 non-null  object
 13  content          13952 non-null  object
 14  user_rating      14509 non-null  float64
 15  create_time      14509 non-null  object
 16  review_count     14509 non-null  int64
dtypes: float64(4), int64(2), object(11)
memory usage: 1.9+ MB

In [ ]:
# # tag_list에서 null 값은 -> 상관없음으로 변경
# info_review_ex_1_copy['tag_list'] = info_review_ex_1_copy['tag_list'].fillna("It doesn't matter")

In [ ]:
# info_review_ex_1_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14509 entries, 0 to 14508
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   place_id         14509 non-null  int64
 1   place_name       14509 non-null  object
 2   comm_score       14509 non-null  float64
 3   cover_image_url  14509 non-null  object
 4   location         14509 non-null  object
 5   tag_list         14509 non-null  object
 6   coordinate_type  14509 non-null  object
 7   latitude         14509 non-null  float64
 8   longitude        14509 non-null  float64
 9   address          14509 non-null  object
 10  description      14509 non-null  object
 11  head_image       14354 non-null  object
 12  user_name        14354 non-null  object
 13  content          13952 non-null  object
 14  user_rating      14509 non-null  float64
 15  create_time      14509 non-null  object
 16  review_count     14509 non-null  int64
dtypes: float64(4), int64(2), object(11)
memory usage: 1.9+ MB